@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #059669;
  --primary-foreground: #ffffff;
  --accent: #d97706;
  --accent-foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 142 76% 30%;
    --sidebar-primary: 142 76% 30%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 38 92% 50%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 142 76% 90%;
    --sidebar-ring: 142 76% 36%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 142 76% 36%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 38 92% 50%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 142 76% 36%;
  }
}
